<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="w3.css">
    <link rel="stylesheet" href="c.css">
    <title>Document</title>
</head>

<body class=" w3-larger">
    <nav class="w3-border-bottom w3-padding w3-card c-row">
        <ia>ðŸ”²</ia>
        <h4 class="w3-center c-width" center><b>myStore</b></h4>
    </nav>
    <div class="w3-container">
        <div class="w3-container w3-center c-space-top">
            <h1>My Store</h1>
        </div>
        <div class="w3-container w3-center">
            <form action="user" method="get">
                <input id="mobile" class="w3-input w3-border w3-round-large" type="text" name="mobile"
                    placeholder="â˜Žï¸ Mobile Number">
                <br>
                <button type="submit" class="w3-button c-width w3-card w3-black w3-round-large">Next</button>
            </form>
        </div>
    </div>
</body>

</html>